<table class='player-list'>
  <thead>
    <tr>
      <td>ID</td>
      <td>FED</td>
      <td>NOME</td>
      <td>NASCIMENTO</td>
      <td style="text-align: center;">VITÓRIAS</td>
    </tr>
  </thead>
  <tbody>
    {% for player in players %}
    <tr>
      <td><a href="{{url_for('view_player', player_id=player.id)}}">{{player.id}}</a></td>
      <td><img class="flag" src="{{url_for('static', filename='/flags/' + player.country|lower + '.gif')}}" alt="{{player.country}}" title="{{player.country}}"></td>
      <td><a href="{{url_for('view_player', player_id=player.id)}}">{{player.first_name}} {{player.last_name}}</a></td>
      <td>{{player.birthdate}}</td>
      <td style="font-weight: bold; text-align: center;">{{player.wins}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>