<div class="overline">Torneios por piso</div>
<div class="tournaments-by-surface">
  <article class="grass">
    <header><span class="icon g"></span>Grama</header>
    <ul>
      {% for t in t_names['grass'] %}
      <li><a href="{{url_for('view_tournaments', nome=t)}}">{{t}}</a></li>
      {% endfor %}
    </ul>
  </article>
  <article class="clay">
    <header><span class="icon c"></span>Saibro</header>
    <ul>
      {% for t in t_names['clay'] %}
      <li><a href="{{url_for('view_tournaments', nome=t)}}">{{t}}</a></li>
      {% endfor %}
    </ul>
  </article>
  <article class="hard">
    <header><span class="icon h"></span>Duro</header>
    <ul>
      {% for t in t_names['hard'] %}
      <li><a href="{{url_for('view_tournaments', nome=t)}}">{{t}}</a></li>
      {% endfor %}
    </ul>
  </article>
  <article class="carpet">
    <header><span class="icon p"></span>Carpete</header>
    <ul>
      {% for t in t_names['carpet'] %}
      <li><a href="{{url_for('view_tournaments', nome=t)}}">{{t}}</a></li>
      {% endfor %}
    </ul>
  </article>
</div>